form{
	width: 25%;
	border: 1px solid #000;
	margin: 20px;
	padding: 20px;
}
label{
	font-size: 12px;
	display: block;
}
textarea{
	resize: vertical; /*para agrandar el cuadro de texto solo de forma vertical*/
	max-height: 300px; /*altura maxima*/
	min-height: 100px; /*altura minima*/
}
input, textarea{
	margin-bottom: 20px; /*margen del boton*/
	padding: 10px;
	box-sizing: border-box; /*es para acomodar el box dentro de los border del form*/
	border: 1px solid #ccc;
}
input:focus , textarea{ /*cuando clikeamos se cambia de color el*/
	border: 1px solid #1668C4 
}
input[type="submit"]{
	margin-bottom: 0;
	background: #1668C4;
	color: #fff;
	border: none;
}
input[type="submit"]:hover{
	background: #000;
}